header{
    background-image: linear-gradient(black 30%, gray 90%);
    background-size: 60%;
    max-height: 600px;
}

header .menu{
    margin: 40px;
    text-align: center;
}

header .menu a{
    background: skyblue;
    margin: 0 20px;
    color:aliceblue;
    padding: 9px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header .menu a:hover{
    border-bottom: 2px soild aliceblue;
}

header .container-text{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px 0 150px;
}

header .container-text .text{
    background-color: black;
    border: 2px solid red;
    border-radius: 3px;
    display: inline-block;
    text-align:center;
    padding: 20px 60px;
}

header .container-text .text h1,
header .container-text .text h2,
header .container-text .text button{
    color:aliceblue;
    font-weight: 300;
    margin: 0;
}

header .container-text .text .name{
    margin-bottom: 10px;
    font-size: 50px;
    line-height:50px;
}

header .container-text .text .progession{
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 40px;
}

header .container-text .text .btn-cv{
    background: tomato;
    cursor: pointer;
    line-height: 45px;
    max-width: 160px;
    text-transform: uppercase;
    width: 100%;
    border: 0 solid;
    box-shadow: inset 0 0 20px black;
    outline: 1px solid;
    outline-color: black;
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0, 0.22, 1);
    transition:all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: azure;
    outline-offset: 0px;
}

header .container-text .text .btn-cv:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px gray, 0, 0, 20px grey;
    outline-offset: 15px;
    outline-color: black;
    text-shadow: 1px 1px 2px aquamarine;
}


main{
    background-color: black;
}

footer{
    background-color: blue;
}
.container{
    background: lightcyan;
}